<%- include('partials/_top') %>
<main class="min-h-screen bg-base-100 w-full py-6 px-10">
    <% if (items.length > 0) { %>
        <div class="prose pb-4 mb-4 uppercase">
            <h1>Delete Department: <%= dept.name %></h1>
            <h2>Delete the following items before attempting to delete this department</h2>
        </div>
        <table class="table table-zebra table-compact mb-4 uppercase">
            <caption class="text-2xl font-bold">Items:</caption>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Brand</th>
                    <th>Details</th>
                    <th>$/u</th>
                    <th>$/lb</th>
                    <th>units</th>
                    <th>lbs Stocked</th>
                </tr>
            </thead>
            <tbody>
                <% items.map(item => { 
                    const {name, details = '--', pricePerUnit = '--', pricePerPound = '--', 
                    brand = '--', stockUnits = '--', stockPounds = '--' } = item; %>
                <tr>
                    <td><%= name  %></td>
                    <td><%= brand %></td>
                    <td><%= details %></td>
                    <td><%= pricePerUnit %></td>
                    <td><%= pricePerPound %></td>
                    <td><%= stockUnits %></td>
                    <td><%= stockPounds %></td>
                </tr>
                <% }) %>
            </tbody>
        </table>
   <% } else { %>
        <div class="prose pb-4 uppercase">
            <h1>Delete Department: <%= dept.name %></h1>
            <h2>Do you really want to delete this department?</h2>
        </div>
        <form action="" method="post">
            <input type="hidden" name="deptid" required value="<%= dept._id %>">
            <button type="submit" class="btn btn-warning uppercase">Delete</button>
        </form>
  <% } %>
</main>
<%- include('partials/_bottom') %>
