<%- include('partials/_top') %>
<main class="min-h-screen bg-base-100 w-full py-6 px-10 uppercase">
    <% if (items.length > 0) { %>
        <h1 class="text-4xl font-bold mb-6">Delete Department: <%= dept.name %></h1>
        <div class="alert alert-info mb-6">
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-current flex-shrink-0 w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
                <h2>Delete the following items before attempting to delete this department</h2>
            </div>
        </div>
        <table class="table table-zebra table-compact mb-4 uppercase">
            <caption class="text-2xl font-bold">Items:</caption>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Brand</th>
                    <th>Details</th>
                    <th>$/u</th>
                    <th>$/lb</th>
                    <th>units</th>
                    <th>lbs Stocked</th>
                </tr>
            </thead>
            <tbody>
                <% items.map(item => { 
                    const {name, details = '--', pricePerUnit = '--', pricePerPound = '--', 
                    brand = '--', stockUnits = '--', stockPounds = '--' } = item; %>
                <tr>
                    <td><%= name  %></td>
                    <td><%= brand %></td>
                    <td><%= details %></td>
                    <td><%= pricePerUnit %></td>
                    <td><%= pricePerPound %></td>
                    <td><%= stockUnits %></td>
                    <td><%= stockPounds %></td>
                </tr>
                <% }) %>
            </tbody>
        </table>
   <% } else { %>
    <h1 class="text-4xl font-bold mb-6">Delete Department: <%= dept.name %></h1>
    <div class="mb-4 alert alert-warning justify-start">
        <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" /></svg>
        <h2 class="text-2xl font-bold">Do you really want to delete this department?</h2>
    </div>
        <form action="" method="post">
            <input type="hidden" name="deptid" required value="<%= dept._id %>">
            <button type="submit" class="btn btn-warning uppercase">Delete</button>
        </form>
  <% } %>
</main>
<%- include('partials/_bottom') %>
