<%- include('partials/_top') %>
<title>Inventory Manager - <%= title %></title>
<%- include('partials/_middle1') %>
<main class="min-h-screen bg-base-100 w-full p-4">
    <div class="prose pb-4">
        <h1><%= item.name %></h1>
    </div>
    <table class="table table-zebra table-compact mb-4">
        <thead>
            <tr>
                <th>Dept</th>
                <th>Brand</th>
                <th>Details</th>
                <th>$/u</th>
                <th>$/lb</th>
                <th>units</th>
                <th>lbs Stocked</th>
            </tr>
        </thead>
        <tbody>
            <% const { department, details = '--', pricePerUnit = '--', pricePerPound = '--', 
                brand = '--', stockUnits = '--', stockPounds = '--' } = item; %>
            <tr>
                <td><%= department.name %></td>
                <td><%= brand %></td>
                <td><%= details %></td>
                <td><%= pricePerUnit %></td>
                <td><%= pricePerPound %></td>
                <td><%= stockUnits %></td>
                <td><%= stockPounds %></td>
            </tr>
        </tbody>
    </table>
    <div class="btn-group">
        <button class="btn btn-primary ">Delete Item</button>
        <button class="btn btn-secondary ">Update Item</button>
    </div>
</main>
<%- include('partials/_bottom') %>
