<%- include('partials/_top') %>
<main class="min-h-screen bg-base-100 w-full py-6 px-10">
    <div class="prose pb-4 mb-4">
        <h1><%= item.name %></h1>
    </div>
    <div class="overflow-x-auto mb-4">
        <table class="table table-zebra table-compact max-w-full">
            <thead>
                <tr>
                    <th>Dept</th>
                    <th>Brand</th>
                    <th>Details</th>
                    <th>$/u</th>
                    <th>$/lb</th>
                    <th>units</th>
                    <th>lbs Stocked</th>
                </tr>
            </thead>
            <tbody>
                <% let { department, details = '--', pricePerUnit = '--', pricePerPound = '--', 
                    brand = '--', stockUnits = '--', stockPounds = '--' } = item;

                    if (brand === '') brand = '--';
                    if (details === '') details = '--'; %>
                <tr>
                    <td>
                        <a class="link link-hover" href="<%= department.url %>">
                            <%= department.name %>
                        </a>
                    </td>
                    <td><%= brand %></td>
                    <td><%= details %></td>
                    <td><%= pricePerUnit %></td>
                    <td><%= pricePerPound %></td>
                    <td><%= stockUnits %></td>
                    <td><%= stockPounds %></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="btn-group">
        <a href="/inventory/item/<%= item._id %>/delete">
            <button class="btn btn-primary">Delete Item</button>
        </a>
        <a href="/inventory/item/<%= item._id %>/update">
            <button class="btn btn-secondary">Update Item</button>
        </a>
    </div>
</main>
<%- include('partials/_bottom') %>
