<%- include('partials/_top') %>
<main class="min-h-screen bg-base-100 w-full py-6 px-10">
    <div class="prose pb-4">
        <h1>All Items</h1>
    </div>
    <table class="table table-zebra table-compact">
        <thead>
            <tr>
                <th>Name</th>
                <th>Dept</th>
                <th>Brand</th>
                <th>Details</th>
                <th>$/u</th>
                <th>$/lb</th>
                <th>units</th>
                <th>lbs Stocked</th>
            </tr>
        </thead>
        <tbody>
            <% items.map(item => { 
                const {name, department, details = '--', pricePerUnit = '--', pricePerPound = '--', 
                brand = '--', stockUnits = '--', stockPounds = '--', url } = item; %>
            <tr>
                <td><a class="link link-hover" href="<%= url %>"><%= name  %></a></td>
                <td><a class="link link-hover" href="<%= department.url %>"><%= department.name %></a></td>
                <td><%= brand %></td>
                <td><%= details %></td>
                <td><%= pricePerUnit %></td>
                <td><%= pricePerPound %></td>
                <td><%= stockUnits %></td>
                <td><%= stockPounds %></td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</main>
<%- include('partials/_bottom') %>
